---
import StaticLayout from "../layouts/StaticLayout.astro";
import SocialLinks from "../components/SocialLinks.astro";

import avatar from "../assets/images/avivkeller-logo.png";
import { Image } from "astro:assets";
---

<StaticLayout title="About">
  <h1 class="mb-8 text-center text-4xl font-bold">About Me</h1>

  {/* Profile Section */}
  <section
    class="mb-12 flex flex-col items-center space-y-8 md:flex-row md:items-start md:space-x-12 md:space-y-0"
  >
    <Image
      src={avatar}
      class="h-64 w-64 rounded-full object-cover shadow-lg"
      alt="Aviv Keller's Avatar"
    />
    <div>
      <h2 class="mb-4 text-3xl font-bold">Aviv Keller</h2>
      <p class="mb-4 text-xl">Developer & Security Enthusiast</p>
      <p class="mb-4 text-gray-600">
        Hey there! I'm Aviv, a passionate developer who thrives on crafting
        innovative solutions and exploring the endless possibilities that code
        offers. Outside of my development work, I'm always diving into new
        technologies, contributing to open-source communities, and sharing my
        insights through blog posts.
      </p>
      <SocialLinks />
    </div>
  </section>

  {/* Professional Journey */}
  <section class="mb-16">
    <h3 class="mb-4 text-2xl font-bold text-red-600">
      My Professional Journey
    </h3>
    <div class="rounded-lg bg-white p-6 shadow-md">
      <p class="mb-4">
        I specialize in full-stack development, with an emphasis on Node.js and
        cloud technologies. My focus is on building scalable, efficient, and
        user-centric applications that address real-world challenges.
      </p>
      <p class="mb-4">
        I am dedicated to writing clean, maintainable code and always embrace
        test-driven development. Continuous learning is core to my approach, and
        I strive to leverage technology for positive, impactful change in the
        world.
      </p>
      <p>
        As a strong advocate for diversity in tech, I'm passionate about
        collaborating with others who share the vision of building innovative
        solutions and fostering inclusivity within the industry.
      </p>
    </div>
  </section>

  {/* Skills Section */}
  <section class="mb-16">
    <h3 class="mb-4 text-2xl font-bold text-red-600">Skills & Technologies</h3>
    <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
      {
        [
          "JavaScript",
          "Github Actions",
          "Node.js",
          "Cybersecurity",
          "Astro",
          "HTML",
          "Cloud Computing",
          "Git",
        ].map((skill) => (
          <div class="rounded-lg bg-white p-4 text-center shadow-md transition-colors duration-300 hover:bg-red-50">
            {skill}
          </div>
        ))
      }
    </div>
  </section>
</StaticLayout>
