---
import achievements from "../data/achievements";
import StaticLayout from "../layouts/StaticLayout.astro";
import BackTo from "../components/BackTo.astro";
import AchievementCard from "../components/AchievementCard.astro";
---

<StaticLayout title="Achievements">
  <BackTo />
  <h1 class="mb-8 text-center text-4xl font-bold">My Achievements</h1>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
    {
      achievements.map((achievement) => (
        <AchievementCard achievement={achievement} />
      ))
    }
  </div>
  <h3 class="mb-8 text-center font-bold">(Among others...)</h3>
</StaticLayout>
