---
import projects from "../data/projects.json";
import StaticLayout from "../layouts/StaticLayout.astro";
import BackTo from "../components/BackTo.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<StaticLayout title="Projects">
  <BackTo />
  <h1 class="mb-8 text-center text-4xl font-bold">My Projects</h1>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</StaticLayout>
