---
import { Icon } from "astro-icon/components";
const { url = "#", icon = "mdi:security", title } = Astro.props.achievement;
---

<a
  href={url}
  target="_blank"
  class="relative block rounded-lg bg-white p-6 text-center shadow-md transition duration-300 hover:scale-105 hover:text-red-600 hover:shadow-lg"
>
  {
    url !== "#" && (
      <span
        class="absolute right-2 top-2 text-gray-500"
        aria-label="External Link"
      >
        <Icon class="h-5 w-5" name="mdi:external-link" />
      </span>
    )
  }
  <div class="mb-4 flex justify-center">
    <Icon class="h-12 w-12 text-red-600" name={icon} />
  </div>
  <h3 class="mb-2 text-xl font-semibold">{title}</h3>
</a>
