---
import { Icon } from "astro-icon/components";
import LinkCard from "./LinkCard.astro";
const { url = "#", icon = "mdi:security", title } = Astro.props.achievement;
---

<LinkCard url={url} target="_blank">
  <div class="mb-4 flex justify-center">
    <Icon class="h-12 w-12 text-red-600" name={icon} />
  </div>
  <h3 class="mb-2 text-center text-xl font-semibold">{title}</h3>
</LinkCard>
