---
import SocialLinks from "./SocialLinks.astro";

const year = new Date().getFullYear();
---

<footer class="mt-12 bg-gray-100 py-8">
  <div class="container mx-auto px-4">
    <div class="flex flex-col items-center justify-between md:flex-row">
      <div class="mb-4 text-gray-600 md:mb-0">
        © {year} Aviv Keller. All rights reserved.
      </div>
      <SocialLinks />
    </div>
  </div>
</footer>
