---

const { height = 'h-screen' } = Astro.props;
---

{/* Hero Section */}
<section
  class={`relative ${height} flex items-center justify-center bg-gradient-to-r from-red-500 to-red-700 text-white`}
>
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative z-10 text-center">
    <slot />
  </div>
</section>
