---
import SocialLink from "./SocialLink.astro";
---

<div class="flex space-x-4">
  <SocialLink href="https://github.com/onlyaviv" icon="simple-icons:github" />
  <SocialLink href="https://x.com/onlyaviv" icon="simple-icons:twitter" />
  <SocialLink
    href="https://mastodon.social/@onlyaviv"
    icon="simple-icons:mastodon"
    rel="me"
  />
  <SocialLink
    href="https://bsky.app/profile/onlyaviv.com"
    icon="simple-icons:bluesky"
  />
  <SocialLink
    href="https://www.linkedin.com/in/onlyaviv"
    icon="simple-icons:linkedin"
  />
  <SocialLink
    href="https://github.com/sponsors/onlyaviv"
    icon="simple-icons:githubsponsors"
  />
  <SocialLink href="mailto:hello@onlyaviv.com" icon="mdi:email" />
</div>
