---
import { Icon } from "astro-icon/components";

const { icon, href } = Astro.props;
---

<a
  href={href}
  class="transform text-gray-600 transition-transform duration-300 hover:scale-110 hover:text-red-600"
>
  <Icon name={icon} size={24} />
</a>
