---
import SocialLink from "./SocialLink.astro";
---

<div class="flex space-x-4">
  <SocialLink href="https://github.com/redyetidev" icon="mdi:github" />
  <SocialLink href="https://x.com/redyetidev" icon="mdi:twitter" />
  <SocialLink
    href="https://mastodon.social/@redyetidev"
    icon="mdi:mastodon"
    rel="me"
  />
  <SocialLink
    href="https://bsky.app/profile/redyeti.dev"
    icon="mdi:butterfly"
  />
  <SocialLink
    href="https://www.linkedin.com/in/redyetidev"
    icon="mdi:linkedin"
  />
  <SocialLink href="https://github.com/sponsors/redyetidev" icon="mdi:money" />
  <SocialLink href="mailto:hello@redyeti.dev" icon="mdi:email" />
</div>
