---
import { Icon } from "astro-icon/components";

const { icon, href } = Astro.props;

---

<a
  href={href}
  class="text-gray-600 hover:text-red-600 transition-transform transform duration-300 hover:scale-110"
>
  <Icon name={icon} size={24} />
</a>
