---
// Import the Icon component
import { Icon } from "astro-icon/components";
import sections from "../data/sections.json";
---

<nav
  id="navbar"
  class="fixed left-0 right-0 top-0 z-50 bg-white shadow-md transition-all duration-300"
>
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between py-4">
      <a id="logo" class="text-red text-2xl font-bold" href="/">Aviv Keller</a>
      <div id="menu-items" class="hidden space-x-6 md:flex">
        {
          sections.map(({ title, href }) => (
            <a href={href} class="nav-link transition-colors duration-300">
              {title}
            </a>
          ))
        }
      </div>
      <button id="menuToggle" class="z-40 text-white md:hidden">
        <Icon class="h-8 w-8" name="mdi:menu" />
      </button>
    </div>
  </div>

  {/* Mobile Menu */}
  <div id="mobileMenu" class="fixed inset-0 z-30 hidden bg-white md:hidden">
    <div class="flex h-full flex-col items-center justify-center space-y-6">
      {
        sections.map(({ title, href }) => (
          <a
            href={href}
            class="text-xl text-gray-600 transition-colors duration-300 hover:text-red-600"
          >
            {title}
          </a>
        ))
      }
    </div>
  </div>
</nav>

<script>
  const menuToggle = document.getElementById("menuToggle");
  const mobileMenu = document.getElementById("mobileMenu");

  const toggleMobileMenu = () => {
    mobileMenu.classList.toggle("hidden");
    menuToggle.classList.toggle("text-white");
  };
  menuToggle.onclick = toggleMobileMenu;
</script>
<div class="relative h-16"></div>
