---
import { SEO } from "astro-seo";

const { title } = Astro.props;

const actualTitle = title ? `Aviv Keller | ${title}` : "Aviv Keller";
const description =
  "Aviv is a software developer and cybersecurity enthusiast.";
---

<html lang="en" class="scroll-smooth">
  <head>
    <SEO
      title={actualTitle}
      {description}
      charset="utf-8"
      twitter={{
        card: "summary",
        site: "@aviv_keller",
        creator: "@aviv_keller",
        title: actualTitle,
        description,
      }}
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{actualTitle}</title>
  </head>
  <body class="flex min-h-screen flex-col bg-gray-50 font-sans text-gray-800">
    <slot />
  </body>
</html>
