---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title={Astro.props.title}>
  <Header />
  <main class="flex-grow">
    <slot />
  </main>
  <Footer />
</BaseLayout>
