---
import StaticHeader from "../components/StaticHeader.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title={Astro.props.title}>
  <StaticHeader />
  <main class="container mx-auto flex-grow px-4 py-8">
    <slot />
  </main>
  <Footer />
</BaseLayout>
